/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

:root {
  --orange: #e55f00;
  --orange-soft: #f88029;
  --black: #111111;
  --gray: #e5e5e5;
  --white: #ffffff;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: var(--orange);
}

.btn-primary {
  color: var(--white);
  background: linear-gradient(135deg, var(--orange), var(--orange-soft));
  border-color: var(--orange);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: var(--white);
  background: linear-gradient(135deg, var(--orange), var(--black));
  border-color: var(--orange);
}

.border-top {
  border-top: 1px solid var(--gray);
}
.border-bottom {
  border-bottom: 1px solid var(--gray);
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
